@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

:root {
    --backgroundColor: rgba(255, 255, 255, 0.10);
    --boxShadowColor: rgba(31, 38, 135, 0.37);
    --textShadowColor: rgba(256, 150, 150, 1);
}

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 100px 0;
}

body {
    font-size: 62.5%;
    background: rgb(63, 94, 251);
    background-image: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    background-image: -webkit-radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%)

}

#moviesCountersContainer {
    position: fixed;
    top: 100px;
    right: 20px;
    width: 150px;
    height: 150px;
    border-radius: 30%;
    background: var(--backgroundColor);
    box-shadow: 0 8px 32px 0 var(--boxShadowColor);
    backdrop-filter: blur(8.0px);
    font-size: 2em;
    color: white;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 10px;
    z-index: 999;
    -webkit-backdrop-filter: blur(8.0px);
}

#moviesCountersContainer p {
    text-shadow: 4px 4px 5px var(--textShadowColor);
}

#moviesListContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 60px auto;
    padding: 2em;
    border-radius: 5.5em;
    background: var(--backgroundColor);
    box-shadow: 0 8px 32px 0 var(--boxShadowColor);
    backdrop-filter: blur(8.0px);
    list-style: none;
    -webkit-backdrop-filter: blur(8.0px);
}

li {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    margin: 15px auto;
    padding: 40px 40px;
    border-radius: 4.5em;
    background: var(--backgroundColor);
    box-shadow: 0 8px 32px 0 var(--boxShadowColor);
    backdrop-filter: blur(8.0px);
    -webkit-backdrop-filter: blur(8.0px);
}

.h2Title {
    font-size: 3em;
    padding: 25px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 40%;
    font-weight: 400;
}

.pYear {
    font-size: 1.5em;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 5%;
    padding-right: 9px;
}

.pSummary {
    font-size: 1.5em;
    font-weight: 300;
    text-align: justify;
    padding-top: 20px;
}

.fa-eye {
    position: absolute;
    font-size: 4em;
    color: white;
    top: 20px;
    left: 20px;
}

.seenDiv {
    text-decoration: underline;
    cursor: pointer;
    height: 0;
    font-size: 1.5em;
    margin-left: 10px;
    margin-bottom: 20px;
}

.deleteDiv {
    position: absolute;
    font-size: 30px;
    right: 30px;
    top: 30px;
    cursor: pointer;
}

li:hover {
    text-shadow: 7px 7px 7px var(--textShadowColor);
}

@media (max-width: 600px ) {
    .h2Title {
        padding: 3px;
        font-size: 1.5em;
    }

    li {
        width: 95%;
    }

    #moviesListContainer {
        width: 85%;
    }

    .fa-eye {
        font-size: 2.5em;
    }

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

:root {
    --backgroundColor: rgba(255, 255, 255, 0.10);
    --boxShadowColor: rgba(31, 38, 135, 0.37);
    --textShadowColor: rgba(256, 150, 150, 1);
}

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 100px 0;
}

body {
    font-size: 62.5%;
    background-image: rgb(63, 94, 251);
    background-image: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);

}


form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    max-width: 500px;
    max-height: 500px;
    border-radius: 15%;
    background: var(--backgroundColor);
    box-shadow: 0 8px 32px 0 var(--boxShadowColor);
    backdrop-filter: blur(8.0px);
    font-size: 2em;
    color: white;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 10px;
    z-index: 100;
    -webkit-backdrop-filter: blur(8.0px);
}

input {
    width: 70%;
    height: 10%;
    margin: 20px auto;
    padding: 10px;
    align-items: center;
    background: transparent;
    box-shadow: 2px 8px 32px 5px var(--boxShadowColor);
    border: none;
    text-decoration: none;
    border-radius: 5%;
    color: white;
    font-weight: 600;

}

input[type="text"] {
    -webkit-appearance: none;
}

input[type="number"] {
    -webkit-appearance: none;
}

input:first-child {
    margin-top: 15%;
}

form p {
    font-size: 1rem;
    margin-bottom: 10px;
}

form button {
    height: 50px;
}

textarea:focus, input:focus {
    outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    opacity: 0.7;
}

::-moz-placeholder { /* Firefox 19+ */
    color: white;
    text-align: center;

}

:-ms-input-placeholder { /* IE 10+ */
    color: white;
    text-align: center;

}

:-moz-placeholder { /* Firefox 18- */
    color: white;
    text-align: center;

}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 2rem;
    font-weight: 400;
}

button:hover {
    color: var(--textShadowColor);
    text-shadow: 1px 1px 12px var(--textShadowColor);
}

button:focus {
    outline: none;
}

input:focus {
    background: none;
}

@media (max-width: 650px) {
    #moviesCountersContainer {
        top: 5px;
        right: 5px;
        width: 100px;
        height: 100px;
        font-size: 1rem;
    }

}

.link {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: underline;
    font-size: 1.1rem;
    position: absolute;
    font-weight: 600;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 490px) {
    .link {
        font-size: 0.8rem;
        top: 40px;
    }

    form {
        max-height: 600px;
        top: 55%;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: white;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.8rem;
        font-weight: bold;
        opacity: 0.7;
    }
}
